In [54]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [38]:

data = pd.read_csv('MLCC.csv', header='infer')

In [39]:
feature_ids = ['6054','6055','6056','6057','6058',
                         '6060','6061','6062','6063','6064',
                         '6065','6066','6067','6068','6069',
                         '6070','6071','6072','6073','6074',
                         '6075','6076','6077','6078','6079',
                         '6080','6081','6082','6083','6084',
                         '6085','6087','6088','6089','7778',
                         '7779','7781','7782','7783','7786',
                         '7788','7789','7791','7792','7925',
                         '7926','7927','7928','7929','7930',
                         '7931','8445','8446','8447','8448',
                         '8449','8450']
data.head()

,ClaimNumber,EvalResult,6054,6055,6056,6057,6058,6060,6061,6062,...,7928,7929,7930,7931,8445,8446,8447,8448,8449,8450
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,0
2,3,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,2,2,2,1,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,3,2,3,1,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,4,2,4,1,0

In [40]:
X = data[feature_ids]
y = data.EvalResult

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [52]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [55]:
predicted_results = model.predict(X_test)
cnf_matrix = metrics.confusion_matrix(y_test, predicted_results)

In [56]:
cnf_matrix

array([[57635,  2017],
       [ 4960,  6155]])

In [60]:
print("Accuracy:",metrics.accuracy_score(y_test, predicted_results))
print("Precision:",metrics.precision_score(y_test, predicted_results))

Accuracy: 0.9014088487571891
Precision: 0.7531815956926089

In [71]:
type(X_test.head())

pandas.core.frame.DataFrame

In [75]:
X_test.iloc[12].to_frame()

      160730
6054       0
6055       0
6056       0
6057       0
6058       0
6060       0
6061       0
6062       0
6063       0
6064       0
6065       1
6066       0
6067       0
6068       0
6069       0
6070       0
6071       0
6072       0
6073       0
6074       0
6075       0
6076       0
6077       3
6078       0
6079       0
6080       0
6081       0
6082       0
6083       0
6084       0
6085       0
6087       0
6088       0
6089       0
7778       1
7779       0
7781       1
7782       2
7783       0
7786       1
7788       0
7789       0
7791       0
7792       0
7925       0
7926       0
7927       0
7928       0
7929       0
7930       0
7931       0
8445       0
8446       8
8447       1
8448      11
8449       1
8450       0